.navigation-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  font-size: 20px;

  @media (width >= 600px) {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation-menu__item {
  font-weight: bolder;
  max-width: max-content;

  @media (width >= 600px) {
    &:hover {
      color: #000;
    }
  }
}

.navigation-menu__item--active {
  color: #946c00;
  border-bottom: 2px solid #946c00;
}
