* {
  box-sizing: border-box;
}

body {
  font-family:
    Montserrat,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2.5rem 40px;
}

.header {
  @media (width >= 600px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-heading {
  text-transform: uppercase;
}

.navigation-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  font-size: 20px;

  @media (width >= 600px) {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation-menu__item {
  font-weight: bolder;
  max-width: max-content;

  @media (width >= 600px) {
    &:hover {
      color: #000;
    }
  }
}

.navigation-menu__item--active {
  color: #946c00;
  border-bottom: 2px solid #946c00;
}
