.cards {
  margin-top: 40px;
  display: grid;
  gap: 15px;

  @media (width >= 600px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cards__container {
  border: 1px solid black;
  border-radius: 7px;
  text-align: center;
}
